@model FoodItem

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>FoodItem</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaloriesPerServing)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaloriesPerServing)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServingSize)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServingSize)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServingUnit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServingUnit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Protein)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Protein)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Carbohydrates)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Carbohydrates)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fiber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fiber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddedSugar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddedSugar)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.FoodItemId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
